---
- name: Install and configure vmagent
  hosts: "{{ vmagent_hosts | default('vmagent') }}"
  become: "{{ vmagent_become | default(false) }}"
  gather_facts: "{{ vmagent_gather_facts | default(false) }}"
  roles:
    - role: finallycoffee.observability.vmagent
